<!DOCTYPE html>
<html>
  
  <head>
    <title>Route Planner</title>
    
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0;}
      #map-canvas { height: 90%; margin: 1em; padding: 0; }
    </style>
    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=PLACEHOLDER_NO_KEY">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  
  <body>
    <div id="map-canvas"></div>
    
    <div id="map-nodes-data">
        <ul>
        {% for node in graphnodes %}
            <li>some graph node {{ node }}</li>
        {% endfor %}
        </ul>
    </div>
  </body>
</html>