<!DOCTYPE html>
<html>
  
  <head>
    <title>Route Planner</title>
    
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0;}
      #map-canvas { height: 70%; margin: 2em; padding: 0; }
      #form-div { line-height: 2em; }
      span#directions { line-height: 1em; }
      #form-div input[type=text] { margin-right: 1em; }
      #form-div input[type=submit] { margin-left: 1em; }
      #form-div input { margin-left: .2em; }
      #form-div input.not-for-input { background-color: lightgray; user-select: none; }
    </style>
    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=API_KEY_HERE">
    </script>
    <script type="text/javascript">
      var idInput;
      var latInput;
      var lonInput;
    
      function initialize() {
        var mapOptions = {
          center: { lat: 42.2569349, lng: -72.5735186},
          zoom: 15
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
            
        initMarkers(map);
        
        idInput = document.getElementById("node-id");
        latInput = document.getElementById("node-lat");
        lonInput = document.getElementById("node-lon");
      }
      
      function initMarkers(map){
        var graphNodePoints = [];
        var currNode = undefined;
        
        {% if graphnodes %}
        {% for id, node in graphnodes.iteritems() %}
        currNode = new google.maps.LatLng( {{ node.lat }} , {{ node.lon }} );
        currNode['graphnodeid'] = {{ id }} ;
        graphNodePoints.push( currNode );
        {% endfor %}
        {% endif %}
        
        for (var i = 0; i < graphNodePoints.length; i++){
            var marker = new google.maps.Marker({
                position: graphNodePoints[i],
                map: map,
                /*icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 2
                }*/
                icon: "/static/tinymarkerblue.png"
            });
            
            google.maps.event.addListener(marker, "click", markerListener);
        }
        
      }
      
      function markerListener(event){
        if (event.latLng){
            var markerPos = event.latLng;
            idInput.value = markerPos['graphnodeid'];
            latInput.value = markerPos.lat();
            lonInput.value = markerPos.lng();
        }
      }
      
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  
  <body>
    <div id="map-canvas"></div>
    <div id="form-div"><center>
        {% if searchresult %}
        <span>Search results are shown above. </span>
        {% if directions %}
        <br />
        <strong>Directions:</strong>
        <span id="directions">{{ directions }}</span>
        <br />
        {% endif %}
        <span><a href="/">Refresh the page</a> to begin again.</span>
        {% else %}
        <span>Click a blue marker on the map to start a search from that position.</span>
        {% endif %}
        <form name="search-form" action="" method="POST">
            <label>Latitude:</label>
            <input type="text" id="node-lat" name="node-lat" class="not-for-input" readonly>
            <label>Longitude:</label>
            <input type="text" id="node-lon" name="node-lon" class="not-for-input" readonly>
            <label>Node ID:</label>
            <input type="text" id="node-id" name="node-id" class="not-for-input" readonly>
            <br />
            <label>Curvature:</label>
            <input type="radio" name="curvature" value="minimize" checked><label>Minimize</label>
            <input type="radio" name="curvature" value="maximize"><label>Maximize</label>
            <br />
            <label>Distance constraint:</label>
            <input type="radio" name="distance" id="distance-5" value=5><label>5</label>
            <input type="radio" name="distance" id="distance-10" value=10><label>10</label>
            <input type="radio" name="distance" id="distance-15" value=15><label>15</label>
            <input type="radio" name="distance" id="distance-20" value=20 checked><label>20</label>
            <input type="radio" name="distance" id="distance-25" value=25><label>25</label>
            <br />
            <input type="submit" value="Search">
        </form>
    </center></div>
  </body>
</html>